/* Header styles  */

header {
    padding: 1% 0;
    background: rgb(2, 0, 36);
    background: linear-gradient(87deg, rgba(2, 0, 36, 1) 0%, rgba(9, 49, 121, 1) 37%, rgba(0, 108, 255, 1) 100%);
}

header h1 {
    text-align: center;
    color: white;
}

main {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
}

li {
    list-style: none;
}

h4 {
    margin-block: 0;
}

h3 {
    font-size: 25px;
    margin-block: 0;
    font-weight: 900;
}

/* SEARCH CITY FORMS/BUTTONS  */
.search-side {
    display: flex;
    flex-direction: column;
    width: 20%;
    padding: 15px;
}

#form {
    border-bottom: 1px solid black;
    padding: 0 0 10px 0;
}

#search-city {
    border: 1px solid grey;
    height: 2rem;
    border-radius: 5px;
    width: 100%;
    margin: 5px 10px 10px 0;
}

/* RESET BUTTON  */

#reset {
    width: 100%;
    color: white;
    background-color: rgb(0, 162, 255);

}

/* SUBMIT BUTTON  */

#city-submit {
    width: 100%;
    margin-bottom: 5px;
    color: white;
    background-color: rgb(0, 162, 255);
}

/* PREVIOUS SEARCHES  */

#history {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

/* UNORDERED PREVIOUS SEARCH  */

#previous-search {
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: left;
}

/* CREATED PREVIOUS SEARCH LI  */

#old-search {
    list-style-type: none;
    width: 100%;
    font-size: larger;
    text-align: center;
    color: black;
    margin-block: 0;
    margin: 5px 10px 10px 10px;
    margin-inline: 0;
    background-color: rgb(187, 187, 187);
    border-radius: 3px;
}

/* current weather  */

#weather-display {
    width: 100%;
}

#uv-el {
    display: flex;
    align-items: center;
}

#uv-col {
    padding: 5px;
    border-radius: 5px;
    color: white;
}

#card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}


/* Five day cards */
#card {
    background-color: rgb(12, 63, 83);
    padding: 10px 2px;
    margin: auto 5px;
}

#card h4 {
    font-weight: bold;
    color: white;
}

#card li {
    padding: 3px;
    color: white;
}








#real-time-weather {
    border: 1px solid black;
    padding: 0 0 0 15px;
    margin: 5px;
}

#real-time-weather h3 {
    font-size: 25px;
    font-weight: bolder;
}

#real-time-weather li {
    font-size: medium;
    font-weight: 100;
    padding: 5px 0;
}